In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df_1 = pd.read_csv('/content/drive/MyDrive/nishika/sub/sub53.csv')

df_2 = pd.read_csv('/content/drive/MyDrive/nishika/sub/sub56.csv')

In [3]:
print(df_1)

             id  is_laugh
0     rfdjcfsqq  0.468470
1     tsgqmfpef  0.417070
2     owjcthkz2  0.289793
3     rvgaocjyy  0.404410
4     uxtwu5i69  0.823924
...         ...       ...
5995  vx1lpzark  0.310152
5996  y9sugbhm8  0.742443
5997  dsd1yixzk  0.483111
5998  vmyopn0mu  0.603946
5999  sveiueszw  0.662109

[6000 rows x 2 columns]

In [4]:
df = pd.DataFrame({"df_1":df_1['is_laugh'],
                  "df_2":df_2['is_laugh'],
                 })

# 相関行列
df.corr()

          df_1      df_2
df_1  1.000000  0.861358
df_2  0.861358  1.000000

In [5]:
# 予測値の多数決
sum_pred = df_1["is_laugh"]*0.8 + df_2["is_laugh"]*0.2
ensemble = pd.DataFrame({"id": df_1["id"], "is_laugh":sum_pred})
ensemble.to_csv("sub.csv", index=False)

In [6]:
print(ensemble)

             id  is_laugh
0     rfdjcfsqq  0.466728
1     tsgqmfpef  0.391977
2     owjcthkz2  0.289083
3     rvgaocjyy  0.411782
4     uxtwu5i69  0.824398
...         ...       ...
5995  vx1lpzark  0.334583
5996  y9sugbhm8  0.744096
5997  dsd1yixzk  0.498414
5998  vmyopn0mu  0.587363
5999  sveiueszw  0.676266

[6000 rows x 2 columns]